<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for Vue JS</title>
    <style>
        .active {
            background: green;
        }
    </style>
</head>
    <body>
        <div id="app">

            <ul>
                <li v-for="i in 10">{{ i }}</li>
            </ul>
            <hr>
            <ul>
                <li v-for="product in products">{{ product }}</li>
            </ul>
            <hr>
            <ul>
                <li v-for="(task, index) in tasks" :class="{active: task.isActive}">
                    {{ index }} -> {{task.id}}  - {{ task.name }}
                </li>
            </ul>

        </div>


        <script src="https://unpkg.com/vue"></script>  
        <script>
            new Vue({
                el: '#app',
                data: {
                    products: [
                        'TV', 'Geladeira', 'Microondas', 'Rádio'
                        ],
                        tasks: [
                            {id: 1, name: 'Lavar Louça', isActive: true},
                            {id: 2, name: 'Lavar Carro', isActive: false},
                            {id: 3, name: 'Lavar Moto', isActive: false},
                            {id: 4, name: 'Lavar Banheiro', isActive: false},
                        ]
                }
            })
        </script>
    </body>
</html>